.footer {
  padding-top: 100px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 50px 0 40px;
    @media screen and (max-width: 576px) {
      flex-flow: column;
    }
  }
  &__info {
    img {
      width: 200px;
      height: 40px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 30px;
    }
  }
  &__text {
    padding-top: 50px;
    font-size: 12px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__contacts {
    display: flex;
    gap: 126px;
    padding-right: 211px;
    @media screen and (max-width: 576px) {
      flex-flow: column;
      gap: 50px;
      padding-right: 100px;
    }
  }
  &__contact-call-title {
    padding-bottom: 20px;
    font-size: 18px;
  }
  &__contact-call-number {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 576px) {
      justify-content: flex-start;
    }
  }
  &__contact-social a:hover img {
    filter: brightness(0) saturate(100%) invert(62%) sepia(96%) saturate(555%)
      hue-rotate(351deg) brightness(99%) contrast(105%);
  }
  &__contact-social-title {
    padding-bottom: 17px;
    font-size: 18px;
  }
  &__contact-social-vk {
    padding-right: 16px;
  }
}
