header {
  background-image: url(../images/header-1-background.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 21px;
}
.header__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px 20px 72px 20px;
  gap: 57px;
}
.header__main-h1 {
  font-size: 50px;
  color: #fff;
  span {
    color: #ff5c00;
  }
}
.header__p {
  color: #fff;
  font-size: 16px;
  padding-top: 52px;
}
