.main {
  display: flex;
  padding-top: 59px;

  &__basket {
    h3 {
      color: #000;
      font-size: 24px;
      font-weight: 600;
    }
    width: 300px;
    height: min-content;
    background-color: #fff;
    border-radius: 18px;
    padding: 16px 24px;
    &__1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        background-color: #f2f2f3;
        border-radius: 6px;
        padding: 2px 16px;
      }
    }
  }
  &__basket-btn {
    display: none;
    width: 250px;
    height: 40px;
    margin-top: 24px;
    padding: 11px 32px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border-radius: 12px;
    background: #ff7020;
    color: #fff;
  }
}
