.main {
  display: flex;
  padding-top: 59px;

  &__basket {
    h3 {
      color: #000;
      font-size: 24px;
      font-weight: 600;
    }
    width: 300px;
    height: min-content;
    background-color: #fff;
    border-radius: 18px;
    padding: 16px 24px;
    &__1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        background-color: #f2f2f3;
        border-radius: 6px;
        padding: 2px 16px;
      }
    }
  }
}




.product-card_conteiner {
  width: 684px;
  height: 432px;
  border-radius: 24px;
  padding: 20px;
}

.product-card__img {
  width: 276px;
  height: 220px;
}
.product-card_div {
  padding-left: 20px;
}
.h2__meatbomb {
  font-size: 40px;
  font-weight: 600;
}
.product-card__description {
  font-size: 16px;
  font-weight: 400;
}
.product-card__composition {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
}
.product-card__composition_ul {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
}
.product-card__kcal {
  font-size: 12px;
  font-weight: 400;
  color: #b1b1b1;
  padding-top: 10px;
}
.product-card__add {
  min-width: 276px;
  height: 40px;
  border-radius: 12px;
  color: white;
  background-color: #ff7020;
  border: 0;
}
.product-card__price {
  font-size: 24px;
  font-weight: 600;
  width: 80px;
}
.product-card__conteiner {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__conteiner1 {
  display: flex;
  flex-direction: row;
}
.product-card__conteiner2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
}
.product-card__conteiner3 {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  width: 344px;
  justify-content: space-between;
}
.close {
  font-size: 24px;
  color: grey;
}

.product-card__btn-plus-minus {
  width: 84px;
  height: 40px;
  background-color: rgb(238, 235, 235);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card__btn-plus-minus span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.product-card__btn-plus-minus span.number {
  pointer-events: none;
}
