.menu {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;


  &__input {
    display: none;
  }

   &__label {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    color: #000;
    border-radius: 50px;
    cursor: pointer;
    position: relative;

    img {
      width: 24px;
      margin-right: 8px;
    }
  }

  &__label:hover {
    background-color: #ffe6b4;
  }

  &__input:checked + &__label {
    background-color: #ffab08;
  }
}
