.product-card {
  &_conteiner {
    display: grid;
    grid-row: 2/3;
    padding: 20px;
    display: none;
  }
  &__img {
    width: 276px;
    height: 220px;
  }
  &_div {
    padding-left: 20px;
  }
  &__description {
    font-size: 16px;
    font-weight: 400;
  }
  &__composition {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  &__composition_ul {
    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
  }
  &__kcal {
    font-size: 12px;
    font-weight: 400;
    color: #b1b1b1;
    padding-top: 10px;
  }
  &__add {
    min-width: 276px;
    height: 40px;
    border-radius: 12px;
    color: white;
    background-color: #ff7020;
    border: 0;
  }
  &__price {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
    width: 80px;
  }
  &__conteiner {
    justify-content: space-between;
    align-items: center;
  }
  &__conteiner1 {
    display: flex;
    flex-direction: row;
  }
  &__conteiner2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
  }
  &__conteiner3 {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 344px;
    justify-content: space-between;
  }
  &__btn-plus-minus {
    width: 84px;
    height: 40px;
    background-color: rgb(238, 235, 235);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn-plus-minus span {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  &__btn-plus-minus span.number {
    pointer-events: none;
  }
}
.h2__meatbomb {
  display: grid;
  grid-row: 1/2;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.close {
  font-size: 24px;
  color: grey;
}
